*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1280px;
    width: 60%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rodape ul{
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


.separador{
    max-width: 1280px;
    width: 60%;
    margin: 0 auto;
    
}

.separador img{
    height: 36px;
    display: block ;
    margin-left: auto;
    margin-right: auto;
}



#about .container img{
    height: 360px;
}

section h1{
    font-size: 82px;
    margin-bottom: 32px;
    text-align: center;
}

.text-style{
    color: #979696;
}

header img{
    height: 44px;
}

body, 
input, 
textarea{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

header{
    padding: 16px 0;
    background-color: #ffffff;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #000000;
    text-decoration: none;
}


.brands-list img{
    height: 24px;
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: center;
}

section{
    padding: 24px 0;
    color: #000000;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom:  8px;
}

.store-front{
    margin-right: 32px;
}

#contact .container{
    display: block;
    width: 30%;
}

#intro .container{
    color: #000000;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
    margin-right: 8px;

}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: #000000;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #6d6d6d;
}

input:focus, textarea:focus{
    outline-color: #444444;
}


.social-links img {
    height: 24px; 
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

section h3{
    margin-bottom: 16px;
}

footer{
    background-color: #ffffff;
    color: #000000;
    padding: 16px 0;
    text-align: center;
    font-size: 8px;
}